.banner {

  & > .grid-container {
    padding: 0;

    & > .grid-x .cell {
      position: relative;
    }

    @include breakpoint(large) {
      padding-right: .9375rem;
      padding-left: .9375rem;
    }
  }

  &__cont {
    position: absolute;
    top: 65%;
    left: 0;
    text-align: center;
    width: 100%;
    transform: translateY(-40%);
    background-color: rgba($white, 0.7);

    @include breakpoint(medium) {
      top: 50%;
      max-width: 460px;
      background-color: transparent;
    }

    h1 {
      border-left: 18px solid #e5d4c8;

      @include breakpoint(medium) {
        background-color: rgba($white, 0.7);
      }
    }
  }

  &__img {
    height: 470px;
    background: $c_lightblue url("../img/pan-banner-bg.jpg") no-repeat center center;
    background-size: cover;
  }
}
