#footer {
  position: relative;
  width: 100%;
  min-height: 120px;
  padding: 30px 0;
  top: 0;
  left: 0;
  display: flex;
  background: #434343;
  flex-flow: row wrap;
  align-content: center;

  > div {
    width: 100%;
  }


  @include breakpoint(small only) {
    .logo {
      display: inline-block;
      margin-bottom: 25px;
    }
  }

  .footer_menu {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;

    &.socials {
      margin-left: 40px;
    }

    li {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.4;
      margin: 0 12px;

      a, span {
        display: inline-block;
        color: #fefefe;
        font-weight: bold;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
        transition: color .25s ease;
        text-decoration: none;

        &:hover {
          color: $c_pink;
        }
      }
    }

    @include breakpoint(medium down) {
      display: block;
    }

  }

  #footer_menu_wrapper {

    @include breakpoint(medium only) {
      .footer_menu {
        &.socials {
          margin-top: 16px;
        }
      }
    }
    @include breakpoint(small only) {
      .footer_menu {
        text-align: center;

        &:not(.socials) {
          display: block;

          li {
            display: block;
            margin: 3px 0;

            a {
              padding: 4px 0;
            }
          }
        }

        li {
          a, span {
            font-size: 18px;
          }
        }

        &.socials {
          margin-left: 0;
          margin-top: 25px;
        }

      }
    }
  }
}
