#header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 74px;
  top: 0;
  left: 0;
  line-height: 70px;
  background: rgb(107,107,107);
  background: -moz-linear-gradient(top, rgba(107,107,107,1) 0%, rgba(78,78,78,1) 100%);
  background: -webkit-linear-gradient(top, rgba(107,107,107,1) 0%,rgba(78,78,78,1) 100%);
  background: linear-gradient(to bottom, rgba(107,107,107,1) 0%,rgba(78,78,78,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#4e4e4e',GradientType=0 );

  .logo {
    display: inline-block;
    padding: 0 28px;
    height: 74px;
    line-height: 70px;
    background: rgb(254,254,254);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(134,133,133,1) 100%);
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(134,133,133,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(134,133,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#868585',GradientType=0 );

    @include breakpoint(medium down) {
      margin-left: -.625rem;
    }
  }

  .header_menu {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;

    &.socials {
      margin-left: 40px;
    }

    li {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.4;
      margin: 0 12px;

      a, span {
        display: inline-block;
        color: #fefefe;
        font-weight: bold;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
        transition: color .25s ease;
        text-decoration: none;

        &:hover {
          color: $c_pink;
        }
      }

      &.active {
        a {
          color: $c_pink;
        }
      }
    }

    @include breakpoint(medium down) {
      display: block;
    }

  }

  #header_menu_wrapper {
    @include breakpoint(large) {
      display: inline-block !important;
    }
    @include breakpoint(medium down) {
      display: none;
      position: absolute;
      background: #4e4e4e;
      padding: 20px 0;
      top: 74px;
      left: 0;
      width: 100%;
      text-align: center;

      .header_menu {
        text-align: center;

        &:not(.socials) {
          display: block;

          li {
            display: block;
            margin: 3px 0;

            a {
              padding: 4px 0;
            }
          }
        }

        li {
          a, span {
            font-size: 18px;
          }
        }

        &.socials {
          margin-left: 0;
          margin-top: 25px;
        }

      }
    }
  }


  #main-menu_button {
    width: 42px;
    height: 34px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #main-menu_button span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  /* Icon 3 */

  #main-menu_button span:nth-child(1) {
    top: 0px;
  }

  #main-menu_button span:nth-child(2), #main-menu_button span:nth-child(3) {
    top: 12px;
  }

  #main-menu_button span:nth-child(4) {
    top: 24px;
  }

  #main-menu_button.open span:nth-child(1) {
    top: 24px;
    width: 0%;
    left: 50%;
  }

  #main-menu_button.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  #main-menu_button.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  #main-menu_button.open span:nth-child(4) {
    top: 24px;
    width: 0;
    left: 50%;
  }
}
