.partners {

  &__grid {
    margin-top: rem-calc(50);
  }

  &__cont {
    display: flex;
    flex-flow: row;
    height: 100%;
    justify-content: center;
    align-items: center;

    svg {
      max-width: 100%;
    }

    img {
      max-width: 200px;
    }
  }
}
