.steps {
  counter-reset: text;

  &__grid {
    margin-top: rem-calc(50);

    .cell:nth-child(1) {
       .steps__text:after {
         display: none;
       }
    }
  }

  &__text {
    padding-left: 30px;
    position: relative;
    text-align: left;
    background-color: $c_white;
    max-width: 200px;

    &:before {
      position: absolute;
      display: block;
      content: counter(text);
      font-size: rem-calc(50);
      color: $c_cyan;
      font-weight: 700;
      left: 0;
      top: 0;
      line-height: 1;
      counter-increment: text;
    }

    &:after {
      position: absolute;
      content: '';
      top: 24px;
      left: -70px;
      width: 40px;
      height: 2px;
      background-color: $c_lightblue;

      @media screen and (min-width: 1000px) {
        left: -55px;
        width: 40px;
      }

      @media screen and (min-width: 1200px) {
        left: -70px;
        width: 50px;
      }
    }

    &--without-after {
      &:after {
        display: none;
      }
    }

    @include breakpoint(medium down) {
      display: inline-block;

      &:after {
        display: none;
      }
    }
  }
}
