.button {
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    .arrow-ic:after {
      transform: translate( 80%, -45%);
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 2px $c_orange;
  }

  &--transparent {
    background-color: transparent;
    border: 3px solid $c_white;
  }

  .arrow-ic {
    position: relative;
    padding-left: 2rem;

    &:after {
      content: url("../img/pan-button-arrow.svg");
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -45%);
      color: white;
      width: 10px;
      transition: transform 0.2s ease-in-out;
    }
  }
}
