.pan-form {

  &__group {
    margin: rem-calc(50 0 30);
  }

  &__file-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    position: relative;

    input:disabled ~ label {
      opacity: .25;
      cursor: not-allowed;
    }

    label {
      text-decoration: none;
      border-radius: 0;
      border: none;
      margin: 0 2rem 0 0;
      transition: all .25s ease;
      display: inline-block;
      min-width: 280px;

      .form-error {
        margin-top: 0;
      }
    }

    p.text {
      margin: 1rem 0 0;

      @include breakpoint(large) {
        margin: 0;
      }
    }

    input {
      position: absolute;
      bottom: 0;
      left: 50%;
      opacity: 0;
      width: 1px;

      &:focus {
        & ~ label {
          outline: none;
          box-shadow: 0 0 2px 2px $c_orange;
        }
      }
    }

    .error-message {
      position: absolute;
      top: calc(100%);
      left: 0;
    }
  }

  &__checkboxes-cont {

    .error-message {
      position: static !important;
    }
  }

  &__checkbox-cont {
    position: relative;
    display: block;
    padding: 0.125rem 0 0.125rem 2rem;
    margin: 1rem 0 0;
    //cursor: pointer;
    user-select: none;
    width: 100%;

    &:first-child {
      margin-top: 0;;
    }

    input {
      position: absolute;
      width: 0;
      height: 0;
      cursor: pointer;
      opacity: 0;

      &:focus ~ .checkmark {
        outline: none;
        box-shadow: 0 0 2px 2px $c_orange;
      }

      &:checked ~ .checkmark {
        background-color: $light-gray !important;
      }

      &:checked ~ .checkmark:after {
        display: block;
      }

      &:disabled {
        &~ .checkmark {
          background-color: #e6e6e6;
          cursor: not-allowed;
        }
      }
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      background-color: $white;
      border: 1px solid $dark-gray;
      border-radius: 2px;
      transition: background-color 0.2s ease-in-out;

      &:after {
        position: absolute;
        top: 4px;
        left: 8px;
        display: none;
        width: 5px;
        height: 10px;
        content: '';
        border: solid $c_cyan;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }

      &:hover {
        background-color: $light-gray;
      }
    }

    button {
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-left: 0.25rem;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 1px $c_cyan;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .text-more {
      display: none;
    }

    &.more {
      .dots {
        display: none;
      }

      .text-more {
        display: inline;
      }
    }
  }

  &__submit-btn {
    margin: 2rem auto 0;
    display: block;
    padding: 1rem 2rem;
    min-width: 280px;
  }

  .error-message {
    position: absolute;
    color: $c_red;
    font-size: rem-calc(14)
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=date] {

  &::-webkit-datetime-edit-text {
    //display: none;
    color: transparent;
  }
  &::-webkit-datetime-edit-month-field {
    //display: none;
    color: transparent;
  }
  &::-webkit-datetime-edit-day-field {
    //display: none;
    color: transparent;
  }
  &::-webkit-datetime-edit-year-field {
    //display: none;
    color: transparent;
  }

  &:focus, &:active {
    &::-webkit-datetime-edit-text {
      //display: initial;
      color: initial;
    }
    &::-webkit-datetime-edit-month-field {
      //display: initial;
      color: initial;
    }
    &::-webkit-datetime-edit-day-field {
      //display: initial;
      color: initial;
    }
    &::-webkit-datetime-edit-year-field {
      //display: initial;
      color: initial;
    }
  }
}


