.mat {
  position: relative;
  margin: 1rem 0 0;

  input, select {
    border-bottom: 2px solid $light-gray;
    margin-bottom: 0;

    &:focus {
      border-bottom: 2px solid $dark-gray;

      & ~ label {
        transform: translate(-12px, -20px) scale(0.8);
      }
    }
  }

  select {
    background-image: url("../img/pan-select-arrow.svg");
    -webkit-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }
  }

  select::-ms-expand {
    display: none;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(8px, 12px);
    pointer-events: none;
    transition: transform 0.3s ease-in-out;
  }

  &.active {

    label {
      transform: translate(-10px, -28px) scale(0.8);
    }


    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    input[type=date] {

      &::-webkit-datetime-edit-text {
        color: initial;
      }

      &::-webkit-datetime-edit-month-field {
        color: initial;
      }

      &::-webkit-datetime-edit-day-field {
        color: initial;
      }

      &::-webkit-datetime-edit-year-field {
        color: initial;

      }
    }
  }
}
