body {
  overflow-x: hidden;
  padding-top: 74px;
  position: relative;

  [data-lang*="hu"], [data-lang*="cz"], [data-lang*="pl"] {
    display: none;
  }

  &.lang-pl {
    [data-lang*="pl"] {
      display: block;
    }
  }

  &.lang-hu {
    [data-lang*="hu"] {
      display: block;
    }
  }

  &.lang-cz {
    [data-lang*="cz"] {
      display: block;
    }
  }
}

.section {
  margin: rem-calc(70 0 50) ;
}

// height-100
.height-100, .h-100 {
  height: 100% !important;
}

.large-order-7 {
  @include breakpoint(large) {
    order: 7;
  }
}
