.text {
  font-size: rem-calc(20*0.8);

  @include breakpoint(medium) {
    font-size: rem-calc(20);
  }

  &--lg {
    font-size: rem-calc(22*0.8);

    @include breakpoint(medium) {
      font-size: rem-calc(22);
    }
  }

  &--sm {
    font-size: rem-calc(14);
  }
}

.weight- {

  &light {
    font-weight: 300;
  }

  &normal {
    font-weight: 400;
  }

  &bold {
    font-weight: 700;
  }

  &black {
    font-weight: 900;
  }
}

.line-height- {
  &1 {
    line-height: 1;
  }
}

.color- {

  &black {
    color: $c_black;
  }

  &white {
    color: $c_white;
  }

  &cyan {
    color: $c_cyan;
  }
}

//.text-underline {
//  text-decoration: underline;
//}
